{% if section.blocks.size > 0 %}

  <div class="slider-product-proposal">
    <div class="page-width slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <h2 class="slider-product-proposal__title">
          Product Title
        </h2>
        <div class="slider-product-proposal__subtitle">
          Product Subtitle
        </div>
      </div>
      <div class="slider-product-proposal__slider">
        <div class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank %}
              {%  assign product = block.settings.proposal_product %}
              
              <div class="slider-product-proposal__slider-item">
                <a href={{product.url}} class="slider-item__link"></a>
                <div class="slider-item__img">
                  <img src={{product.featured_image | img_url: '700px'}} alt={{product.title}} class="slider-item__picture" loading="lazy"/>
                </div>
                <h4 class="slider_item__title">{{product.title}}</h4>

                {% if product.content != blank %}
                  <div class="slider-item__description">
                    {{product.content | truncate: 120, '...'}}
                  </div>
                {% endif %} 
                
                <div class="slide__item-price">
                  {{product.price | money_with_currency}}
                </div>

              </div> 
            {% endif %}
          {% endfor %} 
        </div>  
      </div>
    </div>
  </div>
{% endif %} 


{{ '1.8.1_slick_slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.7.0.js' | asset_url }}" defer="defer"></script>
<script src="{{ '1.8.1_slick_slick.min.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('#shopify-section-{{section.id}} .slider-product-proposal__slider-list').slick({
      infinite: true,
      slidesToShow: {{section.settings.slider_items}},
      slidesToScroll: {{section.settings.slider_items}},
      speed: 1000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: {{section.settings.slider_items_tab}},
            slidesToScroll: {{section.settings.slider_items_tab}},
          }
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: {{section.settings.slider_items_mob}},
            slidesToScroll: {{section.settings.slider_items_mob}}
          }
        }
      ]
    });
  })
  
</script>

{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "slider_items",
      "min": 1,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "itesm per page",
      "default": 4
    },
    {
      "type": "range",
      "id": "slider_items_tab",
      "min": 1,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "itesm per page",
      "default": 2
    },
    {
      "type": "range",
      "id": "slider_items_mob",
      "min": 1,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "itesm per page",
      "default": 1
    }
  ],
  "blocks": [
    {
      "name": "Proposal product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "proposal_product",
          "label": "Our proposal product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
