{% if section.blocks.size > 0 %}

  <div class="slider_proposal">
    <div class="page-width slider_proposal__container">
      <div class="slider_proposal__content">
        <h2 class="slider_proposal__title">
          Product Title
        </h2>
        <div class="slider_proposal__subtitle">
          Product Subtitle
        </div>
      </div>
      <div class="slider-product-proposal__slider">
        <div class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank %}
              {%  assign productTitle = block.settings.proposal_product %}
              <div class="slider-product-proposal__slider-item">
                <h4 class="slider_item__title">{{productTitle.title}}</h4>
              </div> 
            {% endif %}
          {% endfor %} 
        </div>  
      </div>
    </div>
  </div>
{% endif %} 


{{ '1.8.1_slick_slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.7.0.js' | asset_url }}" defer="defer"></script>
<script src="{{ '1.8.1_slick_slick.min.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    console.log('slider_init')
    console.log({{section.blocks.size}})
    $('#shopify-section-{{section.id}} .slider-product-proposal__slider-list').slick({
      infinite: true,
      slidesToShow: {{section.settings.slider_items}},
      slidesToScroll: 3
    });
  })
  
</script>

{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "slider_items",
      "min": 1,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "itesm per page",
      "default": 2
    }
  ],
  "blocks": [
    {
      "name": "Proposal product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "proposal_product",
          "label": "Our proposal product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
